{% extends 'base.html' %}

{% load static %}

{% block content %}

<p class="list-group-item list-group-item-danger">REGALOS PARA TODA OCACION</p>
<br>
<div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/foto22.jpg' %}" width="300px" height="300px">
                <div class="card-body">
                  <h5 class="card-title">PERSONALIZADOS</h5>
                </div>
              </div>
            </div>

            <div class="col mb-4"> 
              <div class="card">
                <img class="card-img-top" src="{% static 'img/foto23.jpg' %}" width="300px" height="300px">
                <div class="card-body">
                  <h5 class="card-title">CUMPLEAÑOS</h5>    
                </div>
              </div>
            </div>


            <div class="col mb-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'img/foto24.jpg' %}" width="300px" height="300px">
                <div class="card-body">
                  <h5 class="card-title">SAN VALENTIN</h5> 
                </div>
              </div>
            </div>

            <div class="col mb-4"> 
              <div class="card">
                <img  class="card-img-top" src="{% static 'img/foto33.jpg' %}" width="300px" height="300px">
                <div class="card-body">
                  <h5 class="card-title">FECHAS ESPECIALES</h5>
                </div>
              </div>
            </div>
</div>

{% endblock %}